*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color:hsl(30, 38%, 92%);
    height: 100vh;
    width:100vw;
}
.container{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;

}

.img-container{
    border: 1px solid black;
    height:400px;
    width:250px;
}
.data-container{
    border: 1px solid black;
    height:400px;
    width:300px;
    padding:20px;
    background-color: hsl(10, 10%, 100%);
}
img{
    object-fit: cover;
    height:400px;
    width:250px;
}
.stylus{
    color:gray;
    font-weight: bolder;

}
h2{
    padding-top:10px;   
    font-family: "fraunces", serif;
}

.para{
    padding-top:10px;
    font-family: "Monteserrat";
    color:gray; 
}


.discPrice{
    color:hsl(158, 36%, 37%);
    font-size:30px;
    font-weight: bolder;
    padding-right:8px;
}
.orgPrice{
    text-decoration:line-through;
}

.addcart{
    background-color: hsl(158, 36%, 37%);
    height:50px;
    width:200px;
    display: flex;
    padding-left:8px;  
    padding-top:8px;

    border-radius: 10px;
}

#icon{
    height:20px;
    width:20px;
    object-fit: cover;
    transform: translateY(5px) translateX(5px);
}
.addcart p{
    padding-top:5px;
    font-size: 20px;
    padding-left: 15px;
    font-weight: bold;
}
